.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home-header, .home-introduction, .home-services, .home-contact, .home-footer {
  margin-bottom: 40px;
}

h1, h2 {
  color: #333;
}

.home-header {
  text-align: center;
}

.home-services ul {
  list-style: none;
  padding: 0;
}

.home-footer {
  text-align: center;
  font-size: 0.8em;
}

/* Estilos para os logos removidos, pois não são mais necessários */
/* .logos-container {
  ...
} */

/* Estilos para o layout responsivo */
@media screen and (max-width: 600px) {
  .home-container {
    padding: 10px;
  }

  h1, h2 {
    font-size: 1.5em;
  }

  .home-services ul {
    padding-left: 20px;
  }
}
