.detalhes-alojamento {
    display: flex;
    flex-direction: column;
    margin: 20px;
  
    .foto-e-info {
      display: flex;
      margin-bottom: 20px;
  
      .galeria-alojamento {
        flex-basis: 50%; // Define uma base para o tamanho da galeria
        display: flex;
        flex-direction: column;
        margin-right: 20px;
  
        .foto-alojamento {
          flex-grow: 0; // Impede que a foto cresça além do necessário
          flex-shrink: 0; // Impede que a foto encolha
          width: auto; // Largura automática para manter a proporção
          max-width: 500px; // Limita a largura máxima
          max-height: 300px; // Limita a altura máxima
          object-fit: contain; // Garante que a imagem se ajuste dentro das dimensões definidas
          border: 1px solid #ccc;
        }
  
        .miniaturas {
          display: flex;
          overflow-x: auto;
          margin-top: 10px;
  
          img {
            width: 100px;
            margin-right: 10px;
            cursor: pointer;
          }
        }
      }
  
      .info-alojamento {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
  
        .reviews {
          flex-grow: 1;
          overflow-y: auto;
          border: 1px solid #ccc;
          padding: 10px;
          margin-top: 20px;
        }
      }
    }
  
    .caracteristicas-alojamento {
      border: 1px solid #ccc;
      padding: 20px;
      position: relative;
      margin-top: 20px;
  
      p {
        margin-bottom: 10px;
      }
  
      .botao-editar {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    .custom-page-title {
      font-size: 36px !important;
      text-align: center;
      margin: 20px 0;
    }
  }
  